Data	structures	are	basically	just	that	-	they	are	structures	which	can	hold	some	data	together.	In	other	words,	they	are	used	to store	a	collection	of	related	data.
There	are	four	built-in	data	structures	in	Python	-	list,	tuple,	dictionary	and	set.	We	will	see	how	to	use	each	of	them	and	how	they make	life	easier	for	us.

# List

A		list		is	a	data	structure	that	holds	an	ordered	collection	of	items	i.e.	you	can	store	a	sequence	of	items	in	a	list.	The	list	of	items	should	be	enclosed	in	square	brackets	so	that	Python	understands	that	you	are	specifying	a	list.	Once	you	have created	a	list,	you	can	add,	remove	or	search	for	items	in	the	list.	Since	we	can	add	and	remove	items,	we	say	that	a	list	is	a mutable	data	type	i.e.	this	type	can	be	altered.

In [1]:
my_list = [449, 'Shivam', 77, 7.5]

In [2]:
my_list

[449, 'Shivam', 77, 7.5]

In [3]:
type(my_list)

list

In [4]:
my_list[1]

'Shivam'

In [5]:
#Nested list
nes_list = ['Shivam', [449, 49, 7.3], ['white', 'books', 23]]

In [6]:
nes_list

['Shivam', [449, 49, 7.3], ['white', 'books', 23]]

In [7]:
nes_list[0]

'Shivam'

In [8]:
nes_list[2][1]

'books'

In [9]:
my_list[-1]

7.5

In [10]:
nes_list[-2]

[449, 49, 7.3]

In [11]:
nes_list[-2][-3]

449

### List Slicing

In [12]:
s_list = [49, 23, "shivam", 7.3, "books", "cricket", 19]

In [13]:
s_list

[49, 23, 'shivam', 7.3, 'books', 'cricket', 19]

In [14]:
s_list[1:6]

[23, 'shivam', 7.3, 'books', 'cricket']

In [15]:
s_list[2:4]

['shivam', 7.3]

In [16]:
s_list[::]

[49, 23, 'shivam', 7.3, 'books', 'cricket', 19]

In [17]:
s_list[0:]

[49, 23, 'shivam', 7.3, 'books', 'cricket', 19]

In [18]:
s_list[::-1]

[19, 'cricket', 'books', 7.3, 'shivam', 23, 49]

In [22]:
s_list[-5:-2]

['shivam', 7.3, 'books']

### Some Basic Operations

In [23]:
grocery_items = ['wheat', 'grains', 'maize', 'rice']

In [26]:
grocery_items.append('barley')

In [27]:
grocery_items

['wheat', 'grains', 'maize', 'rice', 'rice', 'barley']

In [30]:
grocery_items.remove('rice')

In [31]:
grocery_items

['wheat', 'grains', 'maize', 'rice', 'barley']

In [33]:
grocery_items.pop()

'wheat'

In [34]:
grocery_items

['barley', 'grains', 'maize', 'rice']

In [35]:
del grocery_items[1]

In [36]:
grocery_items

['barley', 'maize', 'rice']

In [37]:
shoplist = ['jeans', 't-shirt', 'joggers', 'shoes']

In [38]:
for i in shoplist:
    print(i)

jeans
t-shirt
joggers
shoes

In [39]:
numbers = [1, 2, 3, 4, 5, 6]

sum_numbers = 0

for number in numbers:
    sum_numbers = sum_numbers + number # 0 + 1 = 1 
                                        # 1 + 2 = 3
print(sum_numbers)

21

In [42]:
fruits = ["apple", 'mango', 'banana', 'orange', 'grapes']

"""
Loops: You can loop over 
the elements of a list like this
"""
for fruit in fruits:
    print(fruit)

"""
If you want access to the index of each element within the body of a loop, 
use the built-in enumerate function
"""
for idx, fruit in enumerate(fruits):
    print(str(idx)+') ' +fruit)

apple
mango
banana
orange
grapes
0) apple
1) mango
2) banana
3) orange
4) grapes

# Tuple

Tuples	are	used	to	hold	together	multiple	objects.	Think	of	them	as	similar	to	lists,	but	without	the	extensive	functionality	that	the list	class	gives	you.	One	major	feature	of	tuples	is	that	they	are	immutable	like	strings	i.e.	you	cannot	modify	tuples. Tuples	are	defined	by	specifying	items	separated	by	commas	within	an	optional	pair	of	parentheses.

In [44]:
my_tuple = ('6.1plus', 8, 64, 3000, 16, 64)

In [45]:
my_tuple

('6.1plus', 8, 64, 3000, 16, 64)

In [46]:
my_tuple.count(64)

2

In [47]:
my_tuple.index(16)

4

In [48]:
my_tuple[1] = 'android'

TypeError: 'tuple' object does not support item assignment

In [49]:
my_tuple2 = ("asus", "S14", 8, 256, "s406U")

In [50]:
add = my_tuple + my_tuple2

In [51]:
add

('6.1plus', 8, 64, 3000, 16, 64, 'asus', 'S14', 8, 256, 's406U')

# Sets

- A set is an unordered collection of items. Every element is unique (no duplicates).
- A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().

In [53]:
numbers = {5, 23, 49, 90, 23, 7.3}